.left {
    width: 60%;
    height: 100vh;
    float: left;
    background-color: white;
    overflow-y: scroll;
}

.right {
    width: 40%;
    height: 100vh;
    float: right;
    background-color: rgb(255, 199, 125);
}

#questions_table {
    width: 100%;
}

.quiz-properties-input-table {
    width: 35%;
}

td {
    border-bottom: 1px solid black;
}

.center {
    display: flex;
    justify-content: space-around;
}

.full {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    min-height: 30px;
}

.quiz-properties-container {
    display: flex;
    justify-content: stretch;
    color: #f39c12;
    background-color: #f39c12;
}

.quiz-properties-container div {
    display: inline;
    margin: 10px;
    font-size: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}


/* Custom Select */

.select {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    height: 2em;
    line-height: 2;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 0 1em; */
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}


/* Transition */

.select:hover::after {
    color: #f39c12;
}